h1 {
	/*color:red;*/
	/*color:#000000;*/
	/*color: rgb(240, 0, 0);*/
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/

	border: 5px solid purple;
}
li {
	/*color:green;*/
	/*color:#4B0082;*/
	/*color: rgba(0, 200, 100, 0.2);*/
}
h4 {
	/*color:purple;*/
	/*color:#FF1493;*/
	background: rgb(255, 100, 80);
}
body{
	/*background: url(shiba.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	background: pink;

}